@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;700&display=swap");
:root {
  --yellow-light: #ffeaa7;
  --black-nidnid: #1a1a1a;
  --black-nid: #242424;
  /* --main-color: #00dfff; */
  --shadow-color: #00000070;
  --red: #f8b4dd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  color: var(--black-nidnid);
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  background-color: var(--black-nidnid);
  /* overflow: auto; */
}
.wrap {
  position: relative;
  background-color: var(--main-color);
  width: 100%;
  min-height: 100%;
  border: 5px solid var(--black-nidnid);
}
.top-bar {
  position: relative;
  width: 100%;
  border: 5px solid var(--black-nidnid);
  height: 4rem;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #ffeaa7; */
  background-color: var(--black-nidnid);
  color: var(--main-color);
}
.group-icon {
  list-style: none;
  padding: 0;
  display: flex;
}
.icon {
  color: var(--black-nidnid);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  background-color: var(--main-color);
  border-radius: 50%;
  font-size: 1em;
  margin: 5px;
  cursor: pointer;
  border: 1px solid var(--black-nidnid);
}
.icon:hover {
  color: var(--main-color);
  background-color: var(--black-nidnid);
  border-color: var(--main-color);
}
a,
a:hover {
  color: inherit;
  text-decoration: inherit;
}
.middle-box {
  /* height: 20rem; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.middle-box-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  border: 5px solid var(--black-nidnid);
  /* border-right: 10px solid #1a1a1a; */
}
.title-table {
  margin: 0;
}
.middle-box-inner table {
  width: 100%;
  max-width: 900px;
  height: 100%;
  border-collapse: collapse;
}
.middle-box-inner table,
th,
td {
  border: 5px solid var(--black-nidnid);
  padding: 0.5em;
}
td {
  text-align: center;
}
.onair {
  padding: 0;
  transition: 0.3s;
  background-color: var(--black-nidnid);
  color: var(--main-color);
}
.onair > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  text-decoration: underline;
}
.onair > :hover {
  transition: 0.3s;
}
.right-box article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
.right-box ol {
  list-style-position: inside;
}
.right-box li {
  margin: 1em;
}

.bottom-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.bottom-box-inner-title {
  padding: 1em;
  width: 100%;
  text-align: center;
  border: 5px solid var(--black-nidnid);
}
.bottom-box-inner {
  flex-basis: calc(100% / 4);
  height: 100%;
  border: 5px solid var(--black-nidnid);
  position: relative;
}
.img-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
}
.img-video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-link:hover {
  background-color: var(--shadow-color);
}
.bottom-right-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.bottom-right-inner {
  flex-basis: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--black-nidnid);
  position: relative;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.bottom-link {
  cursor: pointer;
  display: block;
  width: 100%;
  /* height: 100%; */
  font-size: 1.2em;
  font-weight: 700;
  padding: 1em;
}
.bottom-right-inner:hover {
  background-color: var(--black-nidnid);
  color: var(--main-color);
  transition: 0.3s ease-in-out;
}
.footer {
  cursor: default !important;
  background-color: var(--black-nidnid);
  color: var(--main-color);
}
.open-discord {
  cursor: pointer;
}
@media (max-width: 992px) {
  body {
    font-size: 12px;
  }
  .middle-box {
    height: auto;
    width: 100%;
  }
  .bottom {
    flex-direction: column;
  }
  .bottom-box {
    width: 100%;
    height: auto;
  }
  .bottom-right-box {
    width: 100%;
  }
  .middle-box-inner {
    flex-basis: 100%;
  }
  .bottom-box-inner {
    flex-basis: 50%;
  }
  .bottom-right-inner {
    flex-basis: 50%;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--black-nidnid);
  color: var(--main-color);
  height: 100%;
  padding: 1em;
  transition: background-color 0.5s linear;
}
.modal-body {
  position: relative;
  width: 100%;
  height: 100%;
}
#close-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5em;
  color: var(--main-color);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--black-nidnid);
  -webkit-animation: rotate-in-center 1s;
  animation: rotate-in-center 1s;
}
#close-btn:hover {
  border-color: var(--main-color);
  -webkit-animation: rotate-out-center 1s;
  animation: rotate-out-center 1s;
}
.modal-content {
  height: 100%;
  /* padding-top: 2em; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.modal-title {
  max-width: 500px;
  text-align: center;
  width: 100%;
  font-size: 2.3em;
  margin: 0.5em 1em;
  border-bottom: 5px solid var(--main-color);
  padding-bottom: 1em;
}
.modal-details {
  text-align: center;
  width: 100%;
  /* padding: 1em; */
}
.modal-link-btn {
  display: block;
  max-width: 300px;
  font-size: 1.5em;
  font-weight: 500;
  background-color: var(--main-color);
  color: var(--black-nidnid);
  padding: 0.5em 1em;
  border: 5px solid var(--main-color);
  margin: 1em auto;
}
.modal-link-btn:hover {
  color: var(--main-color);
  background-color: var(--black-nidnid);
  text-decoration: underline;
  /* border: 5px solid #ffeaa7; */
}
.work-link {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.work-link:hover {
  background-color: var(--black-nidnid);
  color: var(--main-color);
  transition: 0.3s ease-in-out;
}
